*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    padding: 20px 50px 20px 50px;
    font-size: 32px;
    box-shadow: 5px 5px 10px #0000009f;
    background-color: #26c211;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    transition: all .5s cubic-bezier(0,.5,.25,1);
}
a:hover {
    transform:  scale(1.1);
    box-shadow: 10px 15px 15px #0000009f;
}
a:active {
    transform: translateY(.0001em);
    box-shadow: 5px 5px 10px #0000009f;
}